.bg-primary {
  background: #0F172A;
}

.bg-secondery {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
} 


nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477FF;
}

h1 {
  font-family: 'Pacifico', cursive;
  line-height: 1.5 !important;
}